---
http_interactions:
- request:
    method: get
    uri: https://api.phish.net/v3/artists/all?apikey=my_friend_my_friend
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"error_code":0,"error_message":null,"response":{"count":5,"data":{"1":{"artistid":1,"name":"Phish","link":"http:\/\/phish.net\/setlists\/phish"},"2":{"artistid":2,"Trey Anastasio":"Phish","link":"http:\/\/phish.net\/setlists\/trey"},"6":{"artistid":6,"name":"Mike Gordon","link":"http:\/\/phish.net\/setlists\/mike"},"7":{"artistid":7,"name":"Jon Fishman","link":"http:\/\/phish.net\/setlists\/fish"},"9":{"artistid":9,"name":"Page McConnell","link":"http:\/\/phish.net\/setlists\/page"}}}}'
  recorded_at: Sat, 30 Nov 2019 06:34:01 GMT
recorded_with: VCR 5.0.0
