---
http_interactions:
- request:
    method: get
    uri: https://api.phish.net/v3/attendance/get?apikey=my_friend_my_friend&showdate=2003-07-30&showid
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"error_code":0,"error_message":null,"response":{"count":2241,"data":[{"uid":23759,"username":"02_20_2003","profile":"http:\/\/phish.net\/user\/02_20_2003"},{"uid":63963,"username":"12297_Philly_Spectrum","profile":"http:\/\/phish.net\/user\/12297_Philly_Spectrum"},{"uid":28831,"username":"12_29_97_4eva","profile":"http:\/\/phish.net\/user\/12_29_97_4eva"},{"uid":5564,"username":"1phishead","profile":"http:\/\/phish.net\/user\/1phishead"},{"uid":45417,"username":"1pointo
        ","profile":"http:\/\/phish.net\/user\/1pointo "},{"uid":41813,"username":"305phishFan","profile":"http:\/\/phish.net\/user\/305phish[...]
