---
http_interactions:
- request:
    method: get
    uri: https://api.phish.net/v3/attendance/get?apikey=&showdate=2003-07-30&showid
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"error_code":0,"error_message":null,"response":{"count":2241,"data":[{"uid":23759,"username":"02_20_2003","profile":"http:\/\/phish.net\/user\/02_20_2003"},{"uid":63963,"username":"12297_Philly_Spectrum","profile":"http:\/\/phish.net\/user\/12297_Philly_Spectrum"}]}}'
  recorded_at: Sat, 21 Dec 2019 04:02:49 GMT
recorded_with: VCR 5.0.0
