---
http_interactions:
- request:
    method: get
    uri: https://api.phish.net/v3/attendance/get?apikey=my_friend_my_friend&showdate&showid=123456
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: "{\"error_code\":0,\"error_message\":null,\"response\":{\"count\":1048,\"data\":[{\"profile\":\"http://phish.net/user/1superaly1\",\"uid\":34705,\"username\":\"1superaly1\"},{\"profile\":\"http://phish.net/user/1winterqueen\",\"uid\":40808,\"username\":\"1winterqueen\"},{\"profile\":\"http://phish.net/user/1_tiny_spark\",\"uid\":13213,\"username\":\"1_tiny_spark\"},{\"profile\":\"http://phish.net/user/3irishbrothers\",\"uid\":6097,\"username\":\"3irishbrothers\"},{\"profile\":\"http://phish.net/user/4_3_98_SetII\",\"uid\":23413,\"username\":\"4_3_98_SetII\"},{\"profile\":\"http://phish.net/user/757phan\",\"uid\":3952,\"username\":\"757phan\"}]}}"
  recorded_at: Sat, 21 Dec 2019 03:56:56 GMT
recorded_with: VCR 5.0.0
