---
http_interactions:
- request:
    method: get
    uri: https://api.phish.net/v3/attendance/get?apikey=my_friend_my_friend
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"error_code":0,"error_message":null,"response":{"count":0,"data":[]}}'
  recorded_at: Mon, 02 Dec 2019 19:34:35 GMT
recorded_with: VCR 5.0.0
