---
http_interactions:
- request:
    method: get
    uri: https://api.phish.net/v3/attendance/get?apikey=41B16367525FAF56D891
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"error_code":0,"error_message":null,"response":{"count":1,"data":[{"profile":"http://phish.net/user/1superaly1","uid":34705,"username":"1superaly1"}]}}'
  recorded_at: Sat, 30 Nov 2019 20:46:50 GMT
recorded_with: VCR 5.0.0
