---
http_interactions:
- request:
    method: get
    uri: https://api.phish.net/v3/attendance/get?apikey=&showdate=2003-07-30&showid=123456
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: "{\"error_code\":0,\"error_message\":null,\"response\":{\"count\":2,\"data\":[{\"profile\":\"http://phish.net/user/1superaly1\",\"uid\":34705,\"username\":\"1superaly1\"},{\"profile\":\"http://phish.net/user/1winterqueen\",\"uid\":40808,\"username\":\"1winterqueen\"}]}}"
  recorded_at: Sat, 21 Dec 2019 04:09:25 GMT
recorded_with: VCR 5.0.0
